
# WEB3 DEPLOYMENT CONFIG
# contract address deployed to Sepolia
VITE_CONTRACT_ADDRESS="0xbFd972101344445c7839AAf71A00a2C6A653C44C"
# Target chain ID (e.g. 11155111 for Sepolia, 1337 for Local Hardhat)
VITE_CHAIN_ID="1337"

# HARDHAT SECRETS (Keep secret!)
# Sepolia Node Provider URL (Ankr, Infura, or Alchemy)
RPC_URL="https://rpc.ankr.com/eth_sepolia"

PRIVATE_KEY="0x0000000000000000000000000000000000000000000000000000000000000000"

ETHERSCAN_API_KEY="36ZUXRRPEKPMBTMBK28SFCB2TTA2ATVM2C"

VITE_FIREBASE_PROJECT_ID="gen-lang-client-0677309845"
VITE_FIREBASE_APP_ID="1:495394948986:web:e2e375399bfd1e2589b8c3"
VITE_FIREBASE_API_KEY="AIzaSyCNicshhTJ2b-p8hyd2HBqfDlZ_xj_gx9Q"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0677309845.firebaseapp.com"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0677309845.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="495394948986"
VITE_FIREBASE_MEASUREMENT_ID=""
